AIRTABLE_API_KEY=patYeUdXfACfLQ9T9
AIRTABLE_BASE_ID=appQPYJTD1q2jA9Tf
DATABASE_URL=mysql+mysqlconnector://arrocesLlopis:Arroces!$Llops!()"&@localhost/arroces_llopis
# If you prefer separate variables for the migration script:
MYSQL_HOST=localhost
MYSQL_USER=arrocesLlopis
MYSQL_PASSWORD=Arroces!$Llops!()"&
MYSQL_DATABASE=arroces_llopis
